<?xml version="1.0" encoding="utf-8" ?>
<roles>
	<role name="admin" group="Everyone" />
	<role name="editor" group="Everyone" />
	<role name="outsourcer" group="Everyone" />
	<role name="viewer" group="Everyone" />
</roles>

<!--<roles>
	<role name="admin" group="NZ-59-L-Ody_CTP_Adm" />
	<role name="editor" group="NZ-59-L-Ody_CTP_Usr" />
	<role name="outsourcer" group="NZ-59-L-Ody_CTP_Out" />
	<role name="viewer" group="Everyone" />
</roles>-->
